# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# 项目自生成
tests/coverage_html/
output/
apk_input/
*.pcap
*.apk

# 日志
*.log
logs/

# IDE
.idea/
.vscode/
*.iml

# 系统
.DS_Store
Thumbs.db
config/PCAP.txt
